*.meta
*.log
.Temp/
.metadata/
AAU_GameJam_PersonalityDestroyer/Temp/UnityLockfile
*.bin
*.info
AAU_GameJam_PersonalityDestroyer/Library/metadata/
WannabePersonalDestroyer/Temp/UnityVS_bin/Debug/UnityEngine.TilemapModule.xml
WannabePersonalDestroyer/Temp/
WannabePersonalDestroyer/.vs/
Game/Unity Example Project/Library/metadata/
