*.meta
*.log
.Temp/
.metadata/
AAU_GameJam_PersonalityDestroyer/Temp/UnityLockfile
*.bin
*.info
AAU_GameJam_PersonalityDestroyer/Library/metadata/
WannabePersonalDestroyer/Temp/UnityVS_bin/Debug/UnityEngine.TilemapModule.xml
WannabePersonalDestroyer/Temp/
WannabePersonalDestroyer/Library/metadata/85/858b7542787a1a44d917d8b76b6a9b47
WannabePersonalDestroyer/Library/metadata/
WannabePersonalDestroyer/.vs/
Game/Unity Example Project/Library/metadata/
